# Supabase
SUPABASE_URL=https://dlrrnzcmolqaxkwonxek.supabase.co
SUPABASE_KEY=sb_publishable_B_IVoJj9XKu97RwOkCCWpQ_mN6Z61oH

# Twilio SMS
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=
ALERT_PHONE_NUMBER=
